{% extends "base.html" %} <!--- inheriting from parent --->
{% block title %}Index Page{% endblock %}


{% block content %} <!--- inherited functionality from parent (in this case, base.html) --->
	<!--- values passed from ../app.index()--->
	<p>{{ myvalue }}</p>
	<p>{{ myresult }}</p>
	<p>{{ random_value }}</p>


	<!--- lists --->
	<p>{{ mylist }}</p>
	<ul>
		{% for item in mylist %}
			{% if item == 3 %}
				<li style="color: red">{{ item }}</li>
			{% else %}
				<li>{{ item }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<ul>
		{% for item in mylist %}
		<li {% if item == 4 %}style="color: blue"{% endif %}>{{ item }}</li>
		{% endfor %}
	</ul>

{% endblock %}
